    *{
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#top {
    height: 100px;
}

.logo {
    width: 1000px;
    height: 100px;
    margin-left: 140px;
}

.logo1 {
    margin-top: 25px;
    float: left;
}

.logo2 {
    margin-top: 36px;
    float: right;
}

.bg {
    background-position-x: -300px;
    height: 650px;
    background-image: url(../img/login-bg.jpg);
}

.box {
    width: 1000px;
    height: 500px;
    margin-left: 140px;
}

.box2 {
    width: 400px;
    height: 500px;
    margin-top: 50px;
    float: right;
    background: #FFFFFF;
    
}

.box-top {
    height: 50px;
    width: 400px;
    border-bottom: aliceblue 1px solid;
   
    }
 .box-top li {
        float: left;
        text-align: center;
        line-height: 50px;
}
.box-top li a {
    font-size: 20px;
        padding: 0 55px;   
}
.alist{
        border-right:aliceblue 1px solid ;      
}
.form {
    height:250px;
    width:400px ;
    padding-top: 40px;
}
.form input{
    display: block;
    margin: 10px 0 10px 25px;
   
}
.oinput{
    height: 40px;
    width: 350px;
}
.obutton{
    width: 300px;
    height:50px;
    background: #f43097;
    border:none ;
    color: #fff;
}
.weixin{
    
}




.footer{
     height: 100px;
     text-align: center;
     line-height: 100px;
 }